body {
  background-color: #000;
  display: flex;
  justify-content: center;
  position: relative;
}

div {
  width: 50px;
  height: 50px;
  border: 6px solid aqua;
  border-radius: 5%;
  position: absolute;
  top: 400px;
  animation: loading ease-in-out 3s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
    border-color: aqua;
  }
  33% {
    transform: rotateX(180deg);
    border-color: green;
  }
  66% {
    transform: rotateX(180deg) rotateY(180deg);
    border-color: red;
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    border-color: aqua;
  }
}
